<h1>Locations#read</h1>
<p>Find me in app/views/locations/read.html.erb</p>
<p>
  <strong>Adress:</strong>
  <%= @locate.adress %>
</p>
 
<p>
  <strong>Vile:</strong>
  <%= @locate.ville %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @locate.code_postal %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @locate.pay%>
</p>
